### Połączenie

In [135]:
from pyspark.sql import SparkSession, Row
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyspark.pandas as ps

try:
    # Tworzenie sesji Spark
    spark = SparkSession.builder \
        .appName("PySpark SQL Server Connection") \
        .config("spark.jars", "mssql-jdbc-12.6.1.jre8.jar") \
        .getOrCreate()

    # Parametry połączenia z bazą danych MSSQL
    server_name = "localhost"
    port = "1433"
    database_name = "AFTER_ETL_LA_CRIME"
    url = f"jdbc:sqlserver://{server_name}:{port};databaseName={database_name}"

    table_name = "Crime"
    username = "sa"
    password = "YourStrongPassword123"

    # Wczytanie danych z bazy danych MSSQL
    df = spark.read \
        .format("jdbc") \
        .option("url", url) \
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password) \
        .option("encrypt", "false") \
        .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
        .load()

    print("Dane zostały pomyślnie wczytane z MSSQL.")
    # Wyświetlenie pierwszych kilku wierszy DataFrame
    df.show()

except Exception as e:
    print("Wystąpił błąd podczas łączenia z bazą danych:", str(e))

Dane zostały pomyślnie wczytane z MSSQL.
+------------+------------+------------+----------+---------+--------------------+--------------------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+
|Unnamed: 0.3|Unnamed: 0.2|Unnamed: 0.1|Unnamed: 0|    DR_NO|           Date Rptd|            DATE OCC|TIME OCC|AREA| AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|             Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|         Weapon Desc|Status|Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|Cross Street|    LAT|      LON|gender of criminal|country of criminal|kill count|marital status of criminal |age of criminal|previously punished|education_levels|     drug_substances|country_of_criminal|
+------------+------------+------------+----------+---------+--------------------+--------------------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+
|           0|           0|           0|         0| 10304468|01/08/2020 12:00:...|01/08/2020 12:00:...|    2230|   3| Southwest|        377|       2|   624|BATTERY - SIMPLE ...|           0444 0913|      36|       F|           B|    501.0|SINGLE FAMILY DWE...|         400.0|STRONG-ARM (HANDS...|    AO|Adult Other|   624.0|    NULL|    NULL|    NULL|1100 W  39TH     ...|        NULL|34.0141|-118.2978|                 f|                  K|         0|                    primary|          26-35|                  T|       secondary|             Alcohol|                  K|
|          10|          10|          10|        10|200100509|01/04/2020 12:00:...|01/04/2020 12:00:...|    2200|   1|   Central|        192|       1|   330|BURGLARY FROM VEH...| 1822 1414 0344 1307|      29|       M|           A|    101.0|              STREET|         306.0|  ROCK/THROWN OBJECT|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|                15TH|       OLIVE|34.0359|-118.2648|                 m|                  D|         1|                    primary|          36-45|                  F|         primary|MDMA (Ecstasy/Molly)|                  D|
|          20|          20|          20|        20|200914517|09/10/2020 12:00:...|09/09/2020 12:00:...|    1735|   9|  Van Nuys|        909|       2|   354|   THEFT OF IDENTITY|      0377 1822 0928|      40|       M|           O|    507.0|CONDOMINIUM/TOWNH...|          NULL|                NULL|    IC|Invest Cont|   354.0|    NULL|    NULL|    NULL|13600    LEADWELL...|        NULL|34.2039|-118.4312|                 m|                  P|         0|           Higher education|          18-25|                  F|         primary|             Alcohol|                  P|
|          30|          30|          30|        30|200100559|01/23/2020 12:00:...|01/23/2020 12:00:...|     600|   1|   Central|        111|       1|   310|            BURGLARY| 1402 1822 1414 0344|      51|       M|           W|    503.0|               HOTEL|          NULL|                NULL|    AO|Adult Other|   310.0|    NULL|    NULL|    NULL|700 N  MAIN      ...|        NULL|34.0583|-118.2378|                 m|                  C|         6|           Higher education|          36-45|                  T|         primary|             Cocaine|                  C|
|          40|          40|          40|        40|200100574|01/30/2020 12:00:...|01/29/2020 12:00:...|    1930|   1|   Central|        162|       1|   442|SHOPLIFTING - PET...|           0344 1414|       0|       M|           W|    404.0|    DEPARTMENT STORE|          NULL|                NULL|    IC|Invest Cont|   442.0|    NULL|    NULL|    NULL|700 W  7TH       ...|        NULL| 34.048|-118.2577|                 m|                  W|         0|                     middle|          18-25|                  F|         primary|Cannabis (Marijuana)|                  W|
|          50|          50|          50|        50|200407318|03/27/2020 12:00:...|03/27/2020 12:00:...|     315|   4|Hollenbeck|        422|       2|   740|VANDALISM - FELON...|                0329|      40|       M|           O|    203.0|      OTHER BUSINESS|          NULL|                NULL|    IC|Invest Cont|   740.0|    NULL|    NULL|    NULL|    2600 N  BROADWAY|        NULL|34.0736|-118.2156|                 f|                  G|         0|                  secondary|          18-25|                  F|Higher education|             Alcohol|                  G|
|          60|          60|          60|        60|200104036|01/01/2020 12:00:...|01/01/2020 12:00:...|     500|   1|   Central|        119|       2|   860|BATTERY WITH SEXU...|1218 1822 0910 05...|      18|       F|           B|    900.0|MTA - RED LINE - ...|         400.0|STRONG-ARM (HANDS...|    IC|Invest Cont|   860.0|    NULL|    NULL|    NULL|800 N  ALAMEDA   ...|        NULL|34.0563|-118.2374|                 m|                  S|         5|                     middle|          36-45|                  F|          middle|Cannabis (Marijuana)|                  S|
|          70|          70|          70|        70|200812213|07/23/2020 12:00:...|06/22/2020 12:00:...|    2005|   8|   West LA|        898|       2|   956|LETTERS, LEWD  - ...|                0913|      42|       F|           W|    501.0|SINGLE FAMILY DWE...|          NULL|                NULL|    AO|Adult Other|   956.0|    NULL|    NULL|    NULL|2800 S  BEDFORD  ...|        NULL|34.0346|-118.3857|                 h|                  A|         5|                     middle|          36-45|                  F|         primary|Prescription opioids|                  A|
|          80|          80|          80|        80|200104076|01/01/2020 12:00:...|01/01/2020 12:00:...|     300|   1|   Central|        153|       1|   341|THEFT-GRAND ($950...|      0344 2034 1822|      57|       M|           B|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    IC|Invest Cont|   341.0|    NULL|    NULL|    NULL|300 W  5TH       ...|        NULL|34.0481|-118.2507|                 m|                  I|         3|                    primary|          26-35|                  F|         primary|Cannabis (Marijuana)|                  I|
|          90|          90|          90|        90|200104120|01/02/2020 12:00:...|01/02/2020 12:00:...|    1450|   1|   Central|        158|       1|   310|            BURGLARY|1822 1218 0344 12...|      59|       M|           H|    516.0|SINGLE RESIDENCE ...|          NULL|                NULL|    IC|Invest Cont|   310.0|    NULL|    NULL|    NULL|1200 E  7TH      ...|        NULL|34.0395|-118.2405|                 f|                  C|         0|                    primary|          26-35|                  T|          middle|Prescription opioids|                  C|
|         100|         100|         100|       100|200104139|01/02/2020 12:00:...|01/02/2020 12:00:...|    2210|   1|   Central|        162|       2|   888|         TRESPASSING|           1501 2004|      34|       M|           O|    210.0|RESTAURANT/FAST FOOD|          NULL|                NULL|    IC|Invest Cont|   888.0|    NULL|    NULL|    NULL|800 W  7TH       ...|        NULL|34.0487|-118.2588|                 m|                  I|         1|                     middle|          46-55|                  F|       secondary|              Heroin|                  I|
|         110|         110|         110|       110|200104201|01/03/2020 12:00:...|01/01/2020 12:00:...|     130|   1|   Central|        132|       1|   330|BURGLARY FROM VEH...| 1822 1307 0344 0329|      51|       M|           H|    101.0|              STREET|          NULL|                NULL|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|                 3RD|       GRAND| 34.053|-118.2513|                 m|                  I|         0|                    primary|          26-35|                  T|       secondary|Prescription opioids|                  I|
|         120|         120|         120|       120|200104228|01/04/2020 12:00:...|01/03/2020 12:00:...|    1850|   1|   Central|        159|       1|   210|             ROBBERY|0305 1309 0355 03...|      28|       M|           H|    101.0|              STREET|         102.0|            HAND GUN|    IC|Invest Cont|   210.0|    NULL|    NULL|    NULL|                 4TH|      SEATON|34.0433|-118.2377|                 m|                  X|         0|                    primary|            56+|                  T|          middle|Cannabis (Marijuana)|                  X|
|         130|         130|         130|       130|200706211|02/17/2020 12:00:...|02/16/2020 12:00:...|    2350|   7|  Wilshire|        734|       2|   624|BATTERY - SIMPLE ...|                0444|      29|       F|           H|    502.0|MULTI-UNIT DWELLI...|         400.0|STRONG-ARM (HANDS...|    AO|Adult Other|   624.0|    NULL|    NULL|    NULL|6000 W  6TH      ...|        NULL|34.0677|-118.3548|                 m|                  G|         3|                     middle|          26-35|                  F|          middle|Synthetic cannabi...|                  G|
|         140|         140|         140|       140|200104270|01/04/2020 12:00:...|01/04/2020 12:00:...|    1630|   1|   Central|        195|       1|   330|BURGLARY FROM VEH...| 1822 0344 1307 1609|      32|       M|           H|    108.0|         PARKING LOT|          NULL|                NULL|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|1300 S  LOS ANGEL...|        NULL|34.0357|-118.2593|                 f|                  D|         0|                     middle|          36-45|                  T|         primary|          Stimulants|                  D|
|         150|         150|         150|       150|200104284|01/04/2020 12:00:...|01/04/2020 12:00:...|      15|   1|   Central|        145|       2|   888|         TRESPASSING|                1501|      67|       M|           O|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    IC|Invest Cont|   888.0|    NULL|    NULL|    NULL|100 E  4TH       ...|        NULL|34.0482|-118.2472|                 f|               NULL|         1|                    primary|          36-45|                  F|         primary|Cannabis (Marijuana)|               NULL|
|         160|         160|         160|       160|200104302|01/01/2020 12:00:...|01/01/2020 12:00:...|       1|   1|   Central|        153|       1|   440|THEFT PLAIN - PET...|           0344 2032|      25|       F|           F|    207.0|BAR/COCKTAIL/NIGH...|          NULL|                NULL|    IC|Invest Cont|   440.0|    NULL|    NULL|    NULL|500 S  SPRING    ...|        NULL|34.0467| -118.252|                 m|                  G|         0|                     middle|          36-45|                  F|Higher education|             Alcohol|                  G|
|         170|         170|         170|       170|200812231|07/23/2020 12:00:...|05/15/2020 12:00:...|     800|   8|   West LA|        886|       2|   956|LETTERS, LEWD  - ...|                1906|      44|       M|           W|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    AO|Adult Other|   956.0|    NULL|    NULL|    NULL|1100    ROXBURY  ...|        NULL|34.0567|-118.4055|                 m|                  F|         2|                     middle|          36-45|                  F|          middle|          Stimulants|                  F|
|         180|         180|         180|       180|200405489|02/07/2020 12:00:...|02/06/2020 12:00:...|    2115|   4|Hollenbeck|        464|       2|   946|OTHER MISCELLANEO...|      0432 0913 1258|      12|       F|           H|    501.0|SINGLE FAMILY DWE...|         500.0|UNKNOWN WEAPON/OT...|    AO|Adult Other|   946.0|    NULL|    NULL|    NULL|200 N  SOTO      ...|        NULL|34.0445|-118.2116|                 m|                  G|         6|                     middle|          26-35|                  T|Higher education|Cannabis (Marijuana)|                  G|
|         190|         190|         190|       190|200104369|01/06/2020 12:00:...|01/06/2020 12:00:...|     930|   1|   Central|        127|       1|   230|ASSAULT WITH DEAD...|1268 1822 0305 04...|      22|       M|           H|    101.0|              STREET|         207.0|         OTHER KNIFE|    IC|Invest Cont|   230.0|    NULL|    NULL|    NULL|COMMERCIAL       ...| LOS ANGELES|34.0527|-118.2398|                 m|                  C|         0|                    primary|          26-35|                  T|          middle|     Benzodiazepines|                  C|
+------------+------------+------------+----------+---------+--------------------+--------------------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+
only showing top 20 rows

### ETL 1 - Przygotowanie dat do późniejszej analizy

In [136]:
df = df.withColumn("value_divided", col("Time OCC") / 100)

# Zamiana kropki na dwukropek w kolumnie "value_divided" i tworzenie nowej kolumny "time_fixed"
df = df.withColumn("Time", round(col("value_divided"), 0))

df = df.withColumn("Time", col("Time").cast("integer"))

# Wyświetlenie wyniku
df.select('Time').show()

+----+
|Time|
+----+
|  22|
|  22|
|  17|
|   6|
|  19|
|   3|
|   5|
|  20|
|   3|
|  15|
|  22|
|   1|
|  19|
|  24|
|  16|
|   0|
|   0|
|   8|
|  21|
|   9|
+----+
only showing top 20 rows

In [137]:
from pyspark.sql.functions import split, col

df = df.withColumn("Date Rptd", split(col("Date Rptd"), " ").getItem(0))
df = df.withColumn("DATE OCC", split(col("DATE OCC"), " ").getItem(0))

In [138]:
df.select('Date Rptd').show()

+----------+
| Date Rptd|
+----------+
|01/08/2020|
|01/04/2020|
|09/10/2020|
|01/23/2020|
|01/30/2020|
|03/27/2020|
|01/01/2020|
|07/23/2020|
|01/01/2020|
|01/02/2020|
|01/02/2020|
|01/03/2020|
|01/04/2020|
|02/17/2020|
|01/04/2020|
|01/04/2020|
|01/01/2020|
|07/23/2020|
|02/07/2020|
|01/06/2020|
+----------+
only showing top 20 rows

In [139]:
df = df.withColumn("Date Rptd", to_date(df["Date Rptd"], "MM/dd/yyyy"))

# Wybierz dzień tygodnia z daty
df= df.withColumn("Day of Week", dayofweek(df["Date Rptd"]))


df = df.withColumn("Day of Week", 
                   when(df["Day of Week"] == lit(1), lit("Sunday"))
                   .when(df["Day of Week"] == lit(2), lit("Monday"))
                   .when(df["Day of Week"] == lit(3), lit("Tuesday"))
                   .when(df["Day of Week"] == lit(4), lit("Wednesday"))
                   .when(df["Day of Week"] == lit(5), lit("Thursday"))
                   .when(df["Day of Week"] == lit(6), lit("Friday"))
                   .when(df["Day of Week"] == lit(7), lit("Saturday"))
                   .otherwise(None))


# Wyświetl DataFrame z nową kolumną 'Day of Week'
df.show()

+------------+------------+------------+----------+---------+----------+----------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+-------------+----+-----------+
|Unnamed: 0.3|Unnamed: 0.2|Unnamed: 0.1|Unnamed: 0|    DR_NO| Date Rptd|  DATE OCC|TIME OCC|AREA| AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|             Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|         Weapon Desc|Status|Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|Cross Street|    LAT|      LON|gender of criminal|country of criminal|kill count|marital status of criminal |age of criminal|previously punished|education_levels|     drug_substances|country_of_criminal|value_divided|Time|Day of Week|
+------------+------------+------------+----------+---------+----------+----------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+-------------+----+-----------+
|           0|           0|           0|         0| 10304468|2020-01-08|01/08/2020|    2230|   3| Southwest|        377|       2|   624|BATTERY - SIMPLE ...|           0444 0913|      36|       F|           B|    501.0|SINGLE FAMILY DWE...|         400.0|STRONG-ARM (HANDS...|    AO|Adult Other|   624.0|    NULL|    NULL|    NULL|1100 W  39TH     ...|        NULL|34.0141|-118.2978|                 f|                  K|         0|                    primary|          26-35|                  T|       secondary|             Alcohol|                  K|         22.3|  22|  Wednesday|
|          10|          10|          10|        10|200100509|2020-01-04|01/04/2020|    2200|   1|   Central|        192|       1|   330|BURGLARY FROM VEH...| 1822 1414 0344 1307|      29|       M|           A|    101.0|              STREET|         306.0|  ROCK/THROWN OBJECT|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|                15TH|       OLIVE|34.0359|-118.2648|                 m|                  D|         1|                    primary|          36-45|                  F|         primary|MDMA (Ecstasy/Molly)|                  D|         22.0|  22|   Saturday|
|          20|          20|          20|        20|200914517|2020-09-10|09/09/2020|    1735|   9|  Van Nuys|        909|       2|   354|   THEFT OF IDENTITY|      0377 1822 0928|      40|       M|           O|    507.0|CONDOMINIUM/TOWNH...|          NULL|                NULL|    IC|Invest Cont|   354.0|    NULL|    NULL|    NULL|13600    LEADWELL...|        NULL|34.2039|-118.4312|                 m|                  P|         0|           Higher education|          18-25|                  F|         primary|             Alcohol|                  P|        17.35|  17|   Thursday|
|          30|          30|          30|        30|200100559|2020-01-23|01/23/2020|     600|   1|   Central|        111|       1|   310|            BURGLARY| 1402 1822 1414 0344|      51|       M|           W|    503.0|               HOTEL|          NULL|                NULL|    AO|Adult Other|   310.0|    NULL|    NULL|    NULL|700 N  MAIN      ...|        NULL|34.0583|-118.2378|                 m|                  C|         6|           Higher education|          36-45|                  T|         primary|             Cocaine|                  C|          6.0|   6|   Thursday|
|          40|          40|          40|        40|200100574|2020-01-30|01/29/2020|    1930|   1|   Central|        162|       1|   442|SHOPLIFTING - PET...|           0344 1414|       0|       M|           W|    404.0|    DEPARTMENT STORE|          NULL|                NULL|    IC|Invest Cont|   442.0|    NULL|    NULL|    NULL|700 W  7TH       ...|        NULL| 34.048|-118.2577|                 m|                  W|         0|                     middle|          18-25|                  F|         primary|Cannabis (Marijuana)|                  W|         19.3|  19|   Thursday|
|          50|          50|          50|        50|200407318|2020-03-27|03/27/2020|     315|   4|Hollenbeck|        422|       2|   740|VANDALISM - FELON...|                0329|      40|       M|           O|    203.0|      OTHER BUSINESS|          NULL|                NULL|    IC|Invest Cont|   740.0|    NULL|    NULL|    NULL|    2600 N  BROADWAY|        NULL|34.0736|-118.2156|                 f|                  G|         0|                  secondary|          18-25|                  F|Higher education|             Alcohol|                  G|         3.15|   3|     Friday|
|          60|          60|          60|        60|200104036|2020-01-01|01/01/2020|     500|   1|   Central|        119|       2|   860|BATTERY WITH SEXU...|1218 1822 0910 05...|      18|       F|           B|    900.0|MTA - RED LINE - ...|         400.0|STRONG-ARM (HANDS...|    IC|Invest Cont|   860.0|    NULL|    NULL|    NULL|800 N  ALAMEDA   ...|        NULL|34.0563|-118.2374|                 m|                  S|         5|                     middle|          36-45|                  F|          middle|Cannabis (Marijuana)|                  S|          5.0|   5|  Wednesday|
|          70|          70|          70|        70|200812213|2020-07-23|06/22/2020|    2005|   8|   West LA|        898|       2|   956|LETTERS, LEWD  - ...|                0913|      42|       F|           W|    501.0|SINGLE FAMILY DWE...|          NULL|                NULL|    AO|Adult Other|   956.0|    NULL|    NULL|    NULL|2800 S  BEDFORD  ...|        NULL|34.0346|-118.3857|                 h|                  A|         5|                     middle|          36-45|                  F|         primary|Prescription opioids|                  A|        20.05|  20|   Thursday|
|          80|          80|          80|        80|200104076|2020-01-01|01/01/2020|     300|   1|   Central|        153|       1|   341|THEFT-GRAND ($950...|      0344 2034 1822|      57|       M|           B|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    IC|Invest Cont|   341.0|    NULL|    NULL|    NULL|300 W  5TH       ...|        NULL|34.0481|-118.2507|                 m|                  I|         3|                    primary|          26-35|                  F|         primary|Cannabis (Marijuana)|                  I|          3.0|   3|  Wednesday|
|          90|          90|          90|        90|200104120|2020-01-02|01/02/2020|    1450|   1|   Central|        158|       1|   310|            BURGLARY|1822 1218 0344 12...|      59|       M|           H|    516.0|SINGLE RESIDENCE ...|          NULL|                NULL|    IC|Invest Cont|   310.0|    NULL|    NULL|    NULL|1200 E  7TH      ...|        NULL|34.0395|-118.2405|                 f|                  C|         0|                    primary|          26-35|                  T|          middle|Prescription opioids|                  C|         14.5|  15|   Thursday|
|         100|         100|         100|       100|200104139|2020-01-02|01/02/2020|    2210|   1|   Central|        162|       2|   888|         TRESPASSING|           1501 2004|      34|       M|           O|    210.0|RESTAURANT/FAST FOOD|          NULL|                NULL|    IC|Invest Cont|   888.0|    NULL|    NULL|    NULL|800 W  7TH       ...|        NULL|34.0487|-118.2588|                 m|                  I|         1|                     middle|          46-55|                  F|       secondary|              Heroin|                  I|         22.1|  22|   Thursday|
|         110|         110|         110|       110|200104201|2020-01-03|01/01/2020|     130|   1|   Central|        132|       1|   330|BURGLARY FROM VEH...| 1822 1307 0344 0329|      51|       M|           H|    101.0|              STREET|          NULL|                NULL|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|                 3RD|       GRAND| 34.053|-118.2513|                 m|                  I|         0|                    primary|          26-35|                  T|       secondary|Prescription opioids|                  I|          1.3|   1|     Friday|
|         120|         120|         120|       120|200104228|2020-01-04|01/03/2020|    1850|   1|   Central|        159|       1|   210|             ROBBERY|0305 1309 0355 03...|      28|       M|           H|    101.0|              STREET|         102.0|            HAND GUN|    IC|Invest Cont|   210.0|    NULL|    NULL|    NULL|                 4TH|      SEATON|34.0433|-118.2377|                 m|                  X|         0|                    primary|            56+|                  T|          middle|Cannabis (Marijuana)|                  X|         18.5|  19|   Saturday|
|         130|         130|         130|       130|200706211|2020-02-17|02/16/2020|    2350|   7|  Wilshire|        734|       2|   624|BATTERY - SIMPLE ...|                0444|      29|       F|           H|    502.0|MULTI-UNIT DWELLI...|         400.0|STRONG-ARM (HANDS...|    AO|Adult Other|   624.0|    NULL|    NULL|    NULL|6000 W  6TH      ...|        NULL|34.0677|-118.3548|                 m|                  G|         3|                     middle|          26-35|                  F|          middle|Synthetic cannabi...|                  G|         23.5|  24|     Monday|
|         140|         140|         140|       140|200104270|2020-01-04|01/04/2020|    1630|   1|   Central|        195|       1|   330|BURGLARY FROM VEH...| 1822 0344 1307 1609|      32|       M|           H|    108.0|         PARKING LOT|          NULL|                NULL|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|1300 S  LOS ANGEL...|        NULL|34.0357|-118.2593|                 f|                  D|         0|                     middle|          36-45|                  T|         primary|          Stimulants|                  D|         16.3|  16|   Saturday|
|         150|         150|         150|       150|200104284|2020-01-04|01/04/2020|      15|   1|   Central|        145|       2|   888|         TRESPASSING|                1501|      67|       M|           O|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    IC|Invest Cont|   888.0|    NULL|    NULL|    NULL|100 E  4TH       ...|        NULL|34.0482|-118.2472|                 f|               NULL|         1|                    primary|          36-45|                  F|         primary|Cannabis (Marijuana)|               NULL|         0.15|   0|   Saturday|
|         160|         160|         160|       160|200104302|2020-01-01|01/01/2020|       1|   1|   Central|        153|       1|   440|THEFT PLAIN - PET...|           0344 2032|      25|       F|           F|    207.0|BAR/COCKTAIL/NIGH...|          NULL|                NULL|    IC|Invest Cont|   440.0|    NULL|    NULL|    NULL|500 S  SPRING    ...|        NULL|34.0467| -118.252|                 m|                  G|         0|                     middle|          36-45|                  F|Higher education|             Alcohol|                  G|         0.01|   0|  Wednesday|
|         170|         170|         170|       170|200812231|2020-07-23|05/15/2020|     800|   8|   West LA|        886|       2|   956|LETTERS, LEWD  - ...|                1906|      44|       M|           W|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    AO|Adult Other|   956.0|    NULL|    NULL|    NULL|1100    ROXBURY  ...|        NULL|34.0567|-118.4055|                 m|                  F|         2|                     middle|          36-45|                  F|          middle|          Stimulants|                  F|          8.0|   8|   Thursday|
|         180|         180|         180|       180|200405489|2020-02-07|02/06/2020|    2115|   4|Hollenbeck|        464|       2|   946|OTHER MISCELLANEO...|      0432 0913 1258|      12|       F|           H|    501.0|SINGLE FAMILY DWE...|         500.0|UNKNOWN WEAPON/OT...|    AO|Adult Other|   946.0|    NULL|    NULL|    NULL|200 N  SOTO      ...|        NULL|34.0445|-118.2116|                 m|                  G|         6|                     middle|          26-35|                  T|Higher education|Cannabis (Marijuana)|                  G|        21.15|  21|     Friday|
|         190|         190|         190|       190|200104369|2020-01-06|01/06/2020|     930|   1|   Central|        127|       1|   230|ASSAULT WITH DEAD...|1268 1822 0305 04...|      22|       M|           H|    101.0|              STREET|         207.0|         OTHER KNIFE|    IC|Invest Cont|   230.0|    NULL|    NULL|    NULL|COMMERCIAL       ...| LOS ANGELES|34.0527|-118.2398|                 m|                  C|         0|                    primary|          26-35|                  T|          middle|     Benzodiazepines|                  C|          9.3|   9|     Monday|
+------------+------------+------------+----------+---------+----------+----------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+-------------+----+-----------+
only showing top 20 rows

In [140]:
from pyspark.sql.functions import dayofweek, to_date
df_with_day_of_week = df.withColumn("Date Rptd", dayofweek(df["Date Rptd"]))
df_with_day_of_week.show()

+------------+------------+------------+----------+---------+---------+----------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+-------------+----+-----------+
|Unnamed: 0.3|Unnamed: 0.2|Unnamed: 0.1|Unnamed: 0|    DR_NO|Date Rptd|  DATE OCC|TIME OCC|AREA| AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|             Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|         Weapon Desc|Status|Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|Cross Street|    LAT|      LON|gender of criminal|country of criminal|kill count|marital status of criminal |age of criminal|previously punished|education_levels|     drug_substances|country_of_criminal|value_divided|Time|Day of Week|
+------------+------------+------------+----------+---------+---------+----------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+-------------+----+-----------+
|           0|           0|           0|         0| 10304468|        4|01/08/2020|    2230|   3| Southwest|        377|       2|   624|BATTERY - SIMPLE ...|           0444 0913|      36|       F|           B|    501.0|SINGLE FAMILY DWE...|         400.0|STRONG-ARM (HANDS...|    AO|Adult Other|   624.0|    NULL|    NULL|    NULL|1100 W  39TH     ...|        NULL|34.0141|-118.2978|                 f|                  K|         0|                    primary|          26-35|                  T|       secondary|             Alcohol|                  K|         22.3|  22|  Wednesday|
|          10|          10|          10|        10|200100509|        7|01/04/2020|    2200|   1|   Central|        192|       1|   330|BURGLARY FROM VEH...| 1822 1414 0344 1307|      29|       M|           A|    101.0|              STREET|         306.0|  ROCK/THROWN OBJECT|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|                15TH|       OLIVE|34.0359|-118.2648|                 m|                  D|         1|                    primary|          36-45|                  F|         primary|MDMA (Ecstasy/Molly)|                  D|         22.0|  22|   Saturday|
|          20|          20|          20|        20|200914517|        5|09/09/2020|    1735|   9|  Van Nuys|        909|       2|   354|   THEFT OF IDENTITY|      0377 1822 0928|      40|       M|           O|    507.0|CONDOMINIUM/TOWNH...|          NULL|                NULL|    IC|Invest Cont|   354.0|    NULL|    NULL|    NULL|13600    LEADWELL...|        NULL|34.2039|-118.4312|                 m|                  P|         0|           Higher education|          18-25|                  F|         primary|             Alcohol|                  P|        17.35|  17|   Thursday|
|          30|          30|          30|        30|200100559|        5|01/23/2020|     600|   1|   Central|        111|       1|   310|            BURGLARY| 1402 1822 1414 0344|      51|       M|           W|    503.0|               HOTEL|          NULL|                NULL|    AO|Adult Other|   310.0|    NULL|    NULL|    NULL|700 N  MAIN      ...|        NULL|34.0583|-118.2378|                 m|                  C|         6|           Higher education|          36-45|                  T|         primary|             Cocaine|                  C|          6.0|   6|   Thursday|
|          40|          40|          40|        40|200100574|        5|01/29/2020|    1930|   1|   Central|        162|       1|   442|SHOPLIFTING - PET...|           0344 1414|       0|       M|           W|    404.0|    DEPARTMENT STORE|          NULL|                NULL|    IC|Invest Cont|   442.0|    NULL|    NULL|    NULL|700 W  7TH       ...|        NULL| 34.048|-118.2577|                 m|                  W|         0|                     middle|          18-25|                  F|         primary|Cannabis (Marijuana)|                  W|         19.3|  19|   Thursday|
|          50|          50|          50|        50|200407318|        6|03/27/2020|     315|   4|Hollenbeck|        422|       2|   740|VANDALISM - FELON...|                0329|      40|       M|           O|    203.0|      OTHER BUSINESS|          NULL|                NULL|    IC|Invest Cont|   740.0|    NULL|    NULL|    NULL|    2600 N  BROADWAY|        NULL|34.0736|-118.2156|                 f|                  G|         0|                  secondary|          18-25|                  F|Higher education|             Alcohol|                  G|         3.15|   3|     Friday|
|          60|          60|          60|        60|200104036|        4|01/01/2020|     500|   1|   Central|        119|       2|   860|BATTERY WITH SEXU...|1218 1822 0910 05...|      18|       F|           B|    900.0|MTA - RED LINE - ...|         400.0|STRONG-ARM (HANDS...|    IC|Invest Cont|   860.0|    NULL|    NULL|    NULL|800 N  ALAMEDA   ...|        NULL|34.0563|-118.2374|                 m|                  S|         5|                     middle|          36-45|                  F|          middle|Cannabis (Marijuana)|                  S|          5.0|   5|  Wednesday|
|          70|          70|          70|        70|200812213|        5|06/22/2020|    2005|   8|   West LA|        898|       2|   956|LETTERS, LEWD  - ...|                0913|      42|       F|           W|    501.0|SINGLE FAMILY DWE...|          NULL|                NULL|    AO|Adult Other|   956.0|    NULL|    NULL|    NULL|2800 S  BEDFORD  ...|        NULL|34.0346|-118.3857|                 h|                  A|         5|                     middle|          36-45|                  F|         primary|Prescription opioids|                  A|        20.05|  20|   Thursday|
|          80|          80|          80|        80|200104076|        4|01/01/2020|     300|   1|   Central|        153|       1|   341|THEFT-GRAND ($950...|      0344 2034 1822|      57|       M|           B|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    IC|Invest Cont|   341.0|    NULL|    NULL|    NULL|300 W  5TH       ...|        NULL|34.0481|-118.2507|                 m|                  I|         3|                    primary|          26-35|                  F|         primary|Cannabis (Marijuana)|                  I|          3.0|   3|  Wednesday|
|          90|          90|          90|        90|200104120|        5|01/02/2020|    1450|   1|   Central|        158|       1|   310|            BURGLARY|1822 1218 0344 12...|      59|       M|           H|    516.0|SINGLE RESIDENCE ...|          NULL|                NULL|    IC|Invest Cont|   310.0|    NULL|    NULL|    NULL|1200 E  7TH      ...|        NULL|34.0395|-118.2405|                 f|                  C|         0|                    primary|          26-35|                  T|          middle|Prescription opioids|                  C|         14.5|  15|   Thursday|
|         100|         100|         100|       100|200104139|        5|01/02/2020|    2210|   1|   Central|        162|       2|   888|         TRESPASSING|           1501 2004|      34|       M|           O|    210.0|RESTAURANT/FAST FOOD|          NULL|                NULL|    IC|Invest Cont|   888.0|    NULL|    NULL|    NULL|800 W  7TH       ...|        NULL|34.0487|-118.2588|                 m|                  I|         1|                     middle|          46-55|                  F|       secondary|              Heroin|                  I|         22.1|  22|   Thursday|
|         110|         110|         110|       110|200104201|        6|01/01/2020|     130|   1|   Central|        132|       1|   330|BURGLARY FROM VEH...| 1822 1307 0344 0329|      51|       M|           H|    101.0|              STREET|          NULL|                NULL|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|                 3RD|       GRAND| 34.053|-118.2513|                 m|                  I|         0|                    primary|          26-35|                  T|       secondary|Prescription opioids|                  I|          1.3|   1|     Friday|
|         120|         120|         120|       120|200104228|        7|01/03/2020|    1850|   1|   Central|        159|       1|   210|             ROBBERY|0305 1309 0355 03...|      28|       M|           H|    101.0|              STREET|         102.0|            HAND GUN|    IC|Invest Cont|   210.0|    NULL|    NULL|    NULL|                 4TH|      SEATON|34.0433|-118.2377|                 m|                  X|         0|                    primary|            56+|                  T|          middle|Cannabis (Marijuana)|                  X|         18.5|  19|   Saturday|
|         130|         130|         130|       130|200706211|        2|02/16/2020|    2350|   7|  Wilshire|        734|       2|   624|BATTERY - SIMPLE ...|                0444|      29|       F|           H|    502.0|MULTI-UNIT DWELLI...|         400.0|STRONG-ARM (HANDS...|    AO|Adult Other|   624.0|    NULL|    NULL|    NULL|6000 W  6TH      ...|        NULL|34.0677|-118.3548|                 m|                  G|         3|                     middle|          26-35|                  F|          middle|Synthetic cannabi...|                  G|         23.5|  24|     Monday|
|         140|         140|         140|       140|200104270|        7|01/04/2020|    1630|   1|   Central|        195|       1|   330|BURGLARY FROM VEH...| 1822 0344 1307 1609|      32|       M|           H|    108.0|         PARKING LOT|          NULL|                NULL|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|1300 S  LOS ANGEL...|        NULL|34.0357|-118.2593|                 f|                  D|         0|                     middle|          36-45|                  T|         primary|          Stimulants|                  D|         16.3|  16|   Saturday|
|         150|         150|         150|       150|200104284|        7|01/04/2020|      15|   1|   Central|        145|       2|   888|         TRESPASSING|                1501|      67|       M|           O|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    IC|Invest Cont|   888.0|    NULL|    NULL|    NULL|100 E  4TH       ...|        NULL|34.0482|-118.2472|                 f|               NULL|         1|                    primary|          36-45|                  F|         primary|Cannabis (Marijuana)|               NULL|         0.15|   0|   Saturday|
|         160|         160|         160|       160|200104302|        4|01/01/2020|       1|   1|   Central|        153|       1|   440|THEFT PLAIN - PET...|           0344 2032|      25|       F|           F|    207.0|BAR/COCKTAIL/NIGH...|          NULL|                NULL|    IC|Invest Cont|   440.0|    NULL|    NULL|    NULL|500 S  SPRING    ...|        NULL|34.0467| -118.252|                 m|                  G|         0|                     middle|          36-45|                  F|Higher education|             Alcohol|                  G|         0.01|   0|  Wednesday|
|         170|         170|         170|       170|200812231|        5|05/15/2020|     800|   8|   West LA|        886|       2|   956|LETTERS, LEWD  - ...|                1906|      44|       M|           W|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    AO|Adult Other|   956.0|    NULL|    NULL|    NULL|1100    ROXBURY  ...|        NULL|34.0567|-118.4055|                 m|                  F|         2|                     middle|          36-45|                  F|          middle|          Stimulants|                  F|          8.0|   8|   Thursday|
|         180|         180|         180|       180|200405489|        6|02/06/2020|    2115|   4|Hollenbeck|        464|       2|   946|OTHER MISCELLANEO...|      0432 0913 1258|      12|       F|           H|    501.0|SINGLE FAMILY DWE...|         500.0|UNKNOWN WEAPON/OT...|    AO|Adult Other|   946.0|    NULL|    NULL|    NULL|200 N  SOTO      ...|        NULL|34.0445|-118.2116|                 m|                  G|         6|                     middle|          26-35|                  T|Higher education|Cannabis (Marijuana)|                  G|        21.15|  21|     Friday|
|         190|         190|         190|       190|200104369|        2|01/06/2020|     930|   1|   Central|        127|       1|   230|ASSAULT WITH DEAD...|1268 1822 0305 04...|      22|       M|           H|    101.0|              STREET|         207.0|         OTHER KNIFE|    IC|Invest Cont|   230.0|    NULL|    NULL|    NULL|COMMERCIAL       ...| LOS ANGELES|34.0527|-118.2398|                 m|                  C|         0|                    primary|          26-35|                  T|          middle|     Benzodiazepines|                  C|          9.3|   9|     Monday|
+------------+------------+------------+----------+---------+---------+----------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+-------------+----+-----------+
only showing top 20 rows

In [141]:
df.show(10)

+------------+------------+------------+----------+---------+----------+----------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+-------------+----+-----------+
|Unnamed: 0.3|Unnamed: 0.2|Unnamed: 0.1|Unnamed: 0|    DR_NO| Date Rptd|  DATE OCC|TIME OCC|AREA| AREA NAME|Rpt Dist No|Part 1-2|Crm Cd|         Crm Cd Desc|             Mocodes|Vict Age|Vict Sex|Vict Descent|Premis Cd|         Premis Desc|Weapon Used Cd|         Weapon Desc|Status|Status Desc|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|            LOCATION|Cross Street|    LAT|      LON|gender of criminal|country of criminal|kill count|marital status of criminal |age of criminal|previously punished|education_levels|     drug_substances|country_of_criminal|value_divided|Time|Day of Week|
+------------+------------+------------+----------+---------+----------+----------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+-------------+----+-----------+
|           0|           0|           0|         0| 10304468|2020-01-08|01/08/2020|    2230|   3| Southwest|        377|       2|   624|BATTERY - SIMPLE ...|           0444 0913|      36|       F|           B|    501.0|SINGLE FAMILY DWE...|         400.0|STRONG-ARM (HANDS...|    AO|Adult Other|   624.0|    NULL|    NULL|    NULL|1100 W  39TH     ...|        NULL|34.0141|-118.2978|                 f|                  K|         0|                    primary|          26-35|                  T|       secondary|             Alcohol|                  K|         22.3|  22|  Wednesday|
|          10|          10|          10|        10|200100509|2020-01-04|01/04/2020|    2200|   1|   Central|        192|       1|   330|BURGLARY FROM VEH...| 1822 1414 0344 1307|      29|       M|           A|    101.0|              STREET|         306.0|  ROCK/THROWN OBJECT|    IC|Invest Cont|   330.0|    NULL|    NULL|    NULL|                15TH|       OLIVE|34.0359|-118.2648|                 m|                  D|         1|                    primary|          36-45|                  F|         primary|MDMA (Ecstasy/Molly)|                  D|         22.0|  22|   Saturday|
|          20|          20|          20|        20|200914517|2020-09-10|09/09/2020|    1735|   9|  Van Nuys|        909|       2|   354|   THEFT OF IDENTITY|      0377 1822 0928|      40|       M|           O|    507.0|CONDOMINIUM/TOWNH...|          NULL|                NULL|    IC|Invest Cont|   354.0|    NULL|    NULL|    NULL|13600    LEADWELL...|        NULL|34.2039|-118.4312|                 m|                  P|         0|           Higher education|          18-25|                  F|         primary|             Alcohol|                  P|        17.35|  17|   Thursday|
|          30|          30|          30|        30|200100559|2020-01-23|01/23/2020|     600|   1|   Central|        111|       1|   310|            BURGLARY| 1402 1822 1414 0344|      51|       M|           W|    503.0|               HOTEL|          NULL|                NULL|    AO|Adult Other|   310.0|    NULL|    NULL|    NULL|700 N  MAIN      ...|        NULL|34.0583|-118.2378|                 m|                  C|         6|           Higher education|          36-45|                  T|         primary|             Cocaine|                  C|          6.0|   6|   Thursday|
|          40|          40|          40|        40|200100574|2020-01-30|01/29/2020|    1930|   1|   Central|        162|       1|   442|SHOPLIFTING - PET...|           0344 1414|       0|       M|           W|    404.0|    DEPARTMENT STORE|          NULL|                NULL|    IC|Invest Cont|   442.0|    NULL|    NULL|    NULL|700 W  7TH       ...|        NULL| 34.048|-118.2577|                 m|                  W|         0|                     middle|          18-25|                  F|         primary|Cannabis (Marijuana)|                  W|         19.3|  19|   Thursday|
|          50|          50|          50|        50|200407318|2020-03-27|03/27/2020|     315|   4|Hollenbeck|        422|       2|   740|VANDALISM - FELON...|                0329|      40|       M|           O|    203.0|      OTHER BUSINESS|          NULL|                NULL|    IC|Invest Cont|   740.0|    NULL|    NULL|    NULL|    2600 N  BROADWAY|        NULL|34.0736|-118.2156|                 f|                  G|         0|                  secondary|          18-25|                  F|Higher education|             Alcohol|                  G|         3.15|   3|     Friday|
|          60|          60|          60|        60|200104036|2020-01-01|01/01/2020|     500|   1|   Central|        119|       2|   860|BATTERY WITH SEXU...|1218 1822 0910 05...|      18|       F|           B|    900.0|MTA - RED LINE - ...|         400.0|STRONG-ARM (HANDS...|    IC|Invest Cont|   860.0|    NULL|    NULL|    NULL|800 N  ALAMEDA   ...|        NULL|34.0563|-118.2374|                 m|                  S|         5|                     middle|          36-45|                  F|          middle|Cannabis (Marijuana)|                  S|          5.0|   5|  Wednesday|
|          70|          70|          70|        70|200812213|2020-07-23|06/22/2020|    2005|   8|   West LA|        898|       2|   956|LETTERS, LEWD  - ...|                0913|      42|       F|           W|    501.0|SINGLE FAMILY DWE...|          NULL|                NULL|    AO|Adult Other|   956.0|    NULL|    NULL|    NULL|2800 S  BEDFORD  ...|        NULL|34.0346|-118.3857|                 h|                  A|         5|                     middle|          36-45|                  F|         primary|Prescription opioids|                  A|        20.05|  20|   Thursday|
|          80|          80|          80|        80|200104076|2020-01-01|01/01/2020|     300|   1|   Central|        153|       1|   341|THEFT-GRAND ($950...|      0344 2034 1822|      57|       M|           B|    502.0|MULTI-UNIT DWELLI...|          NULL|                NULL|    IC|Invest Cont|   341.0|    NULL|    NULL|    NULL|300 W  5TH       ...|        NULL|34.0481|-118.2507|                 m|                  I|         3|                    primary|          26-35|                  F|         primary|Cannabis (Marijuana)|                  I|          3.0|   3|  Wednesday|
|          90|          90|          90|        90|200104120|2020-01-02|01/02/2020|    1450|   1|   Central|        158|       1|   310|            BURGLARY|1822 1218 0344 12...|      59|       M|           H|    516.0|SINGLE RESIDENCE ...|          NULL|                NULL|    IC|Invest Cont|   310.0|    NULL|    NULL|    NULL|1200 E  7TH      ...|        NULL|34.0395|-118.2405|                 f|                  C|         0|                    primary|          26-35|                  T|          middle|Prescription opioids|                  C|         14.5|  15|   Thursday|
+------------+------------+------------+----------+---------+----------+----------+--------+----+----------+-----------+--------+------+--------------------+--------------------+--------+--------+------------+---------+--------------------+--------------+--------------------+------+-----------+--------+--------+--------+--------+--------------------+------------+-------+---------+------------------+-------------------+----------+---------------------------+---------------+-------------------+----------------+--------------------+-------------------+-------------+----+-----------+
only showing top 10 rows

In [142]:
# Wyświetlenie początkowych danych
print("Przed zastąpieniem:")
df.select('Vict Sex').distinct().show()

Przed zastąpieniem:
+--------+
|Vict Sex|
+--------+
|       F|
|       M|
|       X|
|       H|
|    NULL|
+--------+

In [143]:
count_H = df.filter(df['Vict Sex'].isNotNull()).count()
print(count_H)
count_H = df.filter(df['Vict Sex'] == 'H').count()
print(count_H)

65787
9

In [144]:
outed_data = (df.filter((df['Vict Sex'] == 'H')))
df = df.filter((df['Vict Sex'] != 'H'))

# Aktualizacja wartości w kolumnie 'Vict Sex'
df = df.withColumn("Vict Sex", 
                   when(df["Vict Sex"] == "F", "Female")
                   .when(df["Vict Sex"] == "M", "Male")
                   .when(df["Vict Sex"] == "X", "X-gender")
                   .when(df["Vict Sex"].isNull(), "no data")
                   .otherwise(df["Vict Sex"]))

df.printSchema()

root
 |-- Unnamed: 0.3: long (nullable = true)
 |-- Unnamed: 0.2: long (nullable = true)
 |-- Unnamed: 0.1: long (nullable = true)
 |-- Unnamed: 0: long (nullable = true)
 |-- DR_NO: long (nullable = true)
 |-- Date Rptd: date (nullable = true)
 |-- DATE OCC: string (nullable = true)
 |-- TIME OCC: long (nullable = true)
 |-- AREA: long (nullable = true)
 |-- AREA NAME: string (nullable = true)
 |-- Rpt Dist No: long (nullable = true)
 |-- Part 1-2: long (nullable = true)
 |-- Crm Cd: long (nullable = true)
 |-- Crm Cd Desc: string (nullable = true)
 |-- Mocodes: string (nullable = true)
 |-- Vict Age: long (nullable = true)
 |-- Vict Sex: string (nullable = true)
 |-- Vict Descent: string (nullable = true)
 |-- Premis Cd: double (nullable = true)
 |-- Premis Desc: string (nullable = true)
 |-- Weapon Used Cd: double (nullable = true)
 |-- Weapon Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Status Desc: string (nullable = true)
 |-- Crm Cd 1: double (nullable = true)
 |-- Crm Cd 2: double (nullable = true)
 |-- Crm Cd 3: double (nullable = true)
 |-- Crm Cd 4: double (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- Cross Street: string (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)
 |-- gender of criminal: string (nullable = true)
 |-- country of criminal: string (nullable = true)
 |-- kill count: long (nullable = true)
 |-- marital status of criminal : string (nullable = true)
 |-- age of criminal: string (nullable = true)
 |-- previously punished: string (nullable = true)
 |-- education_levels: string (nullable = true)
 |-- drug_substances: string (nullable = true)
 |-- country_of_criminal: string (nullable = true)
 |-- value_divided: double (nullable = true)
 |-- Time: integer (nullable = true)
 |-- Day of Week: string (nullable = true)

In [145]:
df.select('Vict Age')

DataFrame[Vict Age: bigint]

In [146]:
df.select('Vict Descent').distinct().show()

+------------+
|Vict Descent|
+------------+
|           K|
|           F|
|           B|
|           L|
|           V|
|           U|
|           O|
|           C|
|           J|
|           Z|
|           A|
|           X|
|           W|
|           S|
|           G|
|           I|
|           P|
|           H|
|        NULL|
+------------+

In [147]:
counts_df = df.groupBy("Vict Descent").count()
counts_df.show()

+------------+-----+
|Vict Descent|count|
+------------+-----+
|           K|  377|
|           F|  316|
|        NULL|    2|
|           B|10788|
|           L|    2|
|           V|   74|
|           U|   13|
|           O| 5995|
|           C|  292|
|           J|  119|
|           Z|   41|
|           A| 1662|
|           X| 7198|
|           W|15553|
|           S|    3|
|           G|    9|
|           I|   90|
|           P|   14|
|           H|23230|
+------------+-----+

In [148]:
df_gb = df.groupBy("Vict Descent").count()

df_gb = df_gb.orderBy('count', ascending=False)

start_row = 6

df_gb = df_gb.withColumn("row_index", monotonically_increasing_id())

# Przypisanie elementów od 6. wiersza
others = df_gb.filter(df_gb["row_index"] >= start_row)

top_five = df_gb.filter(df_gb['row_index'] < start_row)

In [149]:
top_five.show()

+------------+-----+---------+
|Vict Descent|count|row_index|
+------------+-----+---------+
|           H|23230|        0|
|           W|15553|        1|
|           B|10788|        2|
|           X| 7198|        3|
|           O| 5995|        4|
|           A| 1662|        5|
+------------+-----+---------+

In [150]:
suma = others.agg(sum("count")).collect()[0][0]
suma

data = [('Other', suma, 6)]

# Tworzenie ramki danych
df_sum = spark.createDataFrame(data, ["Vict Descent", "count", 'row_index'])

df_sum.show()

+------------+-----+---------+
|Vict Descent|count|row_index|
+------------+-----+---------+
|       Other| 1352|        6|
+------------+-----+---------+

In [151]:
combined_df = df_sum.union(top_five)
combined_df.show()

+------------+-----+---------+
|Vict Descent|count|row_index|
+------------+-----+---------+
|       Other| 1352|        6|
|           H|23230|        0|
|           W|15553|        1|
|           B|10788|        2|
|           X| 7198|        3|
|           O| 5995|        4|
|           A| 1662|        5|
+------------+-----+---------+

In [152]:
top_five = top_five.filter(top_five["Vict Descent"] != 'O')
top_five.show()

+------------+-----+---------+
|Vict Descent|count|row_index|
+------------+-----+---------+
|           H|23230|        0|
|           W|15553|        1|
|           B|10788|        2|
|           X| 7198|        3|
|           A| 1662|        5|
+------------+-----+---------+

In [153]:
tfv = top_five.select('Vict Descent')
tfv.show()

+------------+
|Vict Descent|
+------------+
|           H|
|           W|
|           B|
|           X|
|           A|
+------------+

In [154]:
from pyspark.sql.functions import when

# Utworzenie warunku
top_five_values = top_five.select('Vict Descent').distinct().collect()
top_five_values = [row['Vict Descent'] for row in top_five_values]
condition = ~df['Vict Descent'].isin(top_five_values)

# Tworzenie nowej kolumny na podstawie warunku
df = df.withColumn('Vict Descent', when(condition, 'Other').otherwise(df['Vict Descent']))

print(top_five_values)

['H', 'W', 'B', 'X', 'A']

In [155]:
df = df.withColumn("Vict Descent", 
                   when(df["Vict Descent"] == "H", "Hispanic or Latino")
                   .when(df["Vict Descent"] == "W", "White")
                   .when(df["Vict Descent"] == "B", "Black")
                   .when(df["Vict Descent"] == "X", "Unknown")
                   .when(df["Vict Descent"] == "O", "Other")
                   .when(df["Vict Descent"] == "A", "Asian")
                   .otherwise(df["Vict Descent"]))

In [156]:
df.select('Vict Age').distinct().show(200)

+--------+
|Vict Age|
+--------+
|      29|
|      26|
|      65|
|      19|
|      54|
|       0|
|      22|
|      77|
|       7|
|      34|
|      50|
|      94|
|      57|
|      32|
|      43|
|      84|
|      31|
|      39|
|      98|
|      25|
|      95|
|      71|
|      68|
|       6|
|      72|
|      87|
|      58|
|       9|
|      27|
|      63|
|      51|
|      56|
|      52|
|      79|
|      17|
|      41|
|      28|
|      33|
|      88|
|       5|
|      96|
|      -2|
|      10|
|      89|
|      85|
|      67|
|      48|
|      44|
|      61|
|       3|
|      37|
|      83|
|      12|
|      55|
|      74|
|      62|
|       8|
|      49|
|      11|
|      35|
|      80|
|       2|
|      66|
|      76|
|      92|
|       4|
|      13|
|      36|
|      75|
|      78|
|      18|
|      69|
|      14|
|      21|
|      59|
|      15|
|      81|
|      38|
|      82|
|      97|
|      42|
|      30|
|      73|
|      90|
|      23|
|      46|
|      20|
|      70|
|      99|
|      86|
|      60|
|      93|
|      40|
|      64|
|      16|
|      91|
|      -1|
|      53|
|      45|
|      47|
|      24|
+--------+

In [157]:
from pyspark.ml.feature import Bucketizer

df = df.filter(df['Vict Age'] >= 0)
bucketizer = Bucketizer(splits=[0, 18, 35, 60,120, float('Inf') ],inputCol="Vict Age", outputCol="Vict Age bucket")
df = bucketizer.setHandleInvalid("keep").transform(df)

# Aktualizacja wartości w kolumnie 'Vict Age bucket'
df = df.withColumn("Vict Age bucket", 
                   when(df["Vict Age bucket"] == 0.0, "0-18")
                   .when(df["Vict Age bucket"] == 1.0, "18-35")
                   .when(df["Vict Age bucket"] == 2.0, "35-60")
                   .when(df["Vict Age bucket"] == 3.0, "60-100")
                   .otherwise("Unknown"))

df.select('Vict Age bucket').show()

+---------------+
|Vict Age bucket|
+---------------+
|          35-60|
|          18-35|
|          35-60|
|          35-60|
|           0-18|
|          35-60|
|          18-35|
|          35-60|
|          35-60|
|          35-60|
|          18-35|
|          35-60|
|          18-35|
|          18-35|
|          18-35|
|         60-100|
|          18-35|
|          35-60|
|           0-18|
|          18-35|
+---------------+
only showing top 20 rows

In [158]:
server_name = "localhost"
port = "1433"
database_name = "After_ETL"
url = f"jdbc:sqlserver://{server_name}:{port};databaseName={database_name}"

table_name = "Clean_table1"
username = "sa"
password = "YourStrongPassword123"

df.write \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", table_name) \
    .option("user", username) \
    .option("password", password) \
    .option("encrypt", "false") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .save()

In [159]:
spark.stop()