# 1. Wybór źródła danych

## Opis ramki danych

Odnaleźliśmy fascynującą ramkę danych na platformie Kaggle dotyczącą przestępczości w Los Angeles. Ta zbiór danych zapewnia wgląd w różnorodne aspekty przestępczości, takie jak rodzaj przestępstwa, lokalizacja, data i godzina, oraz wiele innych istotnych informacji. Analiza tych danych może być niezwykle wartościowa dla wielu dziedzin, w tym dla działań policyjnych, analiz kryminalnych, oraz badań społecznych.

Link ze źródłem do ranych: [Los Angeles Crime Data 2020-2023](https://www.kaggle.com/datasets/venkatsairo4899/los-angeles-crime-data-2020-2023)

Wypisanie kolumn wazartych w ramce danych

* **DR_NO**: Numer identyfikacyjny przypadku.
* **Date Rptd**: Data zgłoszenia.
* **DATE OCC**: Data zdarzenia.
* **TIME OCC**: Godzina zdarzenia (format: hhmm).
* **AREA**: Obszar przestępstwa.
* **AREA NAME**: Nazwa obszaru.
* **Rpt Dist No**: Numer dystryktu incydentu.
* **Part 1-2 Crm Cd**: Kod policyjny przestępstwa.
* **Crm Cd Desc**: Opis przestępstwa.
* **Mocodes**: Kody MO (metody operacyjne) - kategorie związane z modusem operandi.
* **Vict Age**: Wiek ofiary.
* **Vict Sex**: Płeć ofiary.
* **Vict Descent**: Pochodzenie ofiary.
* **Premis Cd**: Kod miejsca zdarzenia.
* **Premis Desc**: Opis miejsca zdarzenia.
* **Weapon Used Cd**: Kod użytej broni.
* **Weapon Desc**: Opis użytej broni.
* **Status**: Status.
* **Status Desc**: Opis statusu.
* **Crm Cd 1, Crm Cd 2, Crm Cd 3, Crm Cd 4**: Dodatkowe kody przestępstw.
* **LOCATION**: Lokalizacja zdarzenia.
* **Cross Street**: Przecznica.
* **LAT**: Szerokość geograficzna.
* **LON**: Długość geograficzna.
* **Label Count**: Liczba etykiet.

## Generowanie następujących kolumn w celu dodania ich do ramki danych
* **gender of criminal**: Płeć sprawcy przestępstwa.
*- **country of criminal**: Narodowość sprawcy przestępstwa.*
- **kill count**: Liczba ofiar zabitych przez sprawcę*
- **marital status of criminal**: Stan cywilny sprawcy przestępstw*.
- **age of criminal**: Wiek sprawcy przestępst*a.
- **previously punished**: Informacja czy sprawca był wcześniej kar*ny.
- **education levels**: Poziom wykształcenia sprawcy przestęp*twa.
- **drug substances**: Substancje narkotyczne związane ze sprawcą przestę*stwa.
- **annual earnings**: Roczne zarobki sprawcy przestępstwa.
cy przestępstwa.
.head(10))

## Wypisanie zawartosci ramki danych z dodanymi kolumnami

In [62]:
import pandas as pd

# Wczytaj część pliku CSV
data = pd.read_csv('LA_crimes_generate_data.csv', nrows=10)

# Wypisz nazwy kolumn
print("Nazwy kolumn:")
print(data.columns)

# Wypisz 10 pierwszych wierszy
print("\n10 pierwszych wierszy:")
print(data.head(10))

Nazwy kolumn:
Index(['Unnamed: 0', 'DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA',
       'AREA NAME', 'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc',
       'Mocodes', 'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd',
       'Premis Desc', 'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc',
       'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION',
       'Cross Street', 'LAT', 'LON', 'gender of criminal',
       'country of criminal', 'kill count', 'marital status of criminal ',
       'age of criminal', 'previously punished', 'education levels',
       'drug substances', 'annual earnings'],
      dtype='object')

10 pierwszych wierszy:
   Unnamed: 0      DR_NO               Date Rptd                DATE OCC  \
0           0   10304468  01/08/2020 12:00:00 AM  01/08/2020 12:00:00 AM
1           1  190101086  01/02/2020 12:00:00 AM  01/01/2020 12:00:00 AM
2           2  200110444  04/14/2020 12:00:00 AM  02/13/2020 12:00:00 AM
3           3  191501505  01/01/2020 12:00:00 AM  01/01/2020 12:00:00 AM
4           4  191921269  01/01/2020 12:00:00 AM  01/01/2020 12:00:00 AM
5           5  200100501  01/02/2020 12:00:00 AM  01/01/2020 12:00:00 AM
6           6  200100502  01/02/2020 12:00:00 AM  01/02/2020 12:00:00 AM
7           7  200100504  01/04/2020 12:00:00 AM  01/04/2020 12:00:00 AM
8           8  200100507  01/04/2020 12:00:00 AM  01/04/2020 12:00:00 AM
9           9  201710201  06/19/2020 12:00:00 AM  05/26/2020 12:00:00 AM

   TIME OCC  AREA    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  ...       LON  \
0      2230     3    Southwest          377         2     624  ... -118.2978
1       330     1      Central          163         2     624  ... -118.2545
2      1200     1      Central          155         2     845  ... -118.2474
3      1730    15  N Hollywood         1543         2     745  ... -118.4019
4       415    19      Mission         1998         2     740  ... -118.4468
5        30     1      Central          163         1     121  ... -118.2534
6      1315     1      Central          161         1     442  ... -118.2631
7        40     1      Central          155         2     946  ... -118.2474
8       200     1      Central          101         1     341  ... -118.2398
9      1925    17   Devonshire         1708         1     341  ... -118.5021

  gender of criminal  country of criminal kill count  \
0                  m                    F          0
1                  x                    H          0
2                  m                    H          4
3                  m                    I          0
4                  m                    B          0
5                  m                    O          0
6                  m                    B          0
7                  m                    H          3
8                  f                    B          0
9                  m                    W          0

  marital status of criminal   age of criminal previously punished  \
0                    Divorced             0-18                   T
1                     Singiel            18-35                   T
2                    Divorced            18-35                   F
3                     Singiel            35-60                   F
4                     Singiel            35-60                   T
5                     Singiel            35-60                   T
6                    Divorced            18-35                   T
7                     Married            35-60                   T
8                    Divorced            35-60                   F
9                     Singiel            35-60                   F

   education levels       drug substances annual earnings
0           primary               Alcohol          118908
1  Higher education  Cannabis (Marijuana)          122012
2            middle               Alcohol          127874
3           primary  Cannabis (Marijuana)          125196
4            middle               Alcohol           72892
5         secondary            Stimulants           54626
6           primary  Cannabis (Marijuana)          147006
7         secondary               Alcohol          121990
8  Higher education  Prescription opioids           92862
9           primary               Alcohol          129034

[10 rows x 38 columns]